
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
    font-size: 20px;
}

body {
    background-color: #f9f9f9;
    color: #1a1c1c;
    font-family: 'Manrope', sans-serif;
}

.serif-headline, .font-serif {
    font-family: 'Noto Serif', serif;
}

.letter-spacing-label {
    letter-spacing: 0.15em;
}

.no-scrollbar::-webkit-scrollbar, .hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar, .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
